html {
    scroll-behavior: smooth;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input,
select,
textarea {
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    outline: none !important;
}

a,
button {
    outline: none !important;
    box-shadow: none !important;
}

.row-g1 {
    margin-top: calc(-1 * 10px);
}

.row-g1 > [class*=col] {
    margin-top: 10px;
}

.row-g2 {
    margin-top: calc(-1 * 20px);
}

.row-g2 > [class*=col] {
    margin-top: 20px;
}

.row-g3 {
    margin-top: calc(-1 * 30px);
}

.row-g3 > [class*=col] {
    margin-top: 30px;
}

.row-g4 {
    margin-top: calc(-1 * 40px);
}

.row-g4 > [class*=col] {
    margin-top: 40px;
}

.row-g5 {
    margin-top: calc(-1 * 50px);
}

.row-g5 > [class*=col] {
    margin-top: 50px;
}

.row-g6 {
    margin-top: calc(-1 * 60px);
}

.row-g6 > [class*=col] {
    margin-top: 60px;
}

.shadow-card {
    box-shadow: 0 0 14px rgb(144 151 179 / 19%) !important;
}

.transition {
    transition: var(--transition);
}

.color-primary {
    color: rgb(var(--primary-color));
}

.btn-customize {
    background-color: rgb(var(--primary-color));
    color: var(--white);
    font-size: 1em;
    letter-spacing: 0.5px;
    font-weight: 700;
    border-radius: 20px;
    height: 38px;
    padding: 0 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.btn-customize > i {
    font-size: .9em;
}

.btn-customize:hover {
    color: var(--white);
    background-color: rgba(var(--primary-color), .85);
    box-shadow: 0 5px 10px -4px rgb(var(--primary-color)) !important;
}

.btn-customize_outline {
    background-color: var(--white);
    border: 1px solid rgb(var(--primary-color));
    color: rgb(var(--primary-color));
}

body {
    background-color: var(--background-body);
    color: var(--dark-color);
    font: 400 14px/1.2 'Roboto', sans-serif;
}

.header {
    position: relative;
    background-color: var(--white);
    border-bottom: 3px solid rgba(var(--primary-color));
    z-index: 3;
}

.header .header-inner .header-inner_nav > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .header-inner .header-inner_nav > ul > li {
    position: relative;
    padding: 5px 0;
}

.header .header-inner .header-inner_nav > ul > li > a {
    font-size: 1em;
    font-weight: 700;
    color: var(--dark-color);
    display: inline-block;
    padding: 20px 10px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
}

.header .header-inner .header-inner_nav > ul > li > a > i {
    margin-left: 2px;
    font-size: 1.1em;
    transition: .3s transform ease-in-out;
}

.header .header-inner .header-inner_nav > ul > li > ul {
    box-shadow: 0 0 20px rgb(68 38 14 / 25%);
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(15px);
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
    min-width: 200px;
}

.header .header-inner .header-inner_nav > ul > li > ul > li > a {
    position: relative;
    display: block;
    border-left: 3px solid transparent;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 700;
    color: var(--dark-color);
}

.header .header-inner .header-inner_nav > ul > li:hover > a {
    color: rgb(var(--primary-color));
}

.header .header-inner .header-inner_nav > ul > li:hover > a > i {
    transform: rotate(180deg)
}

.header .header-inner .header-inner_nav > ul > li:hover > ul {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.header .header-inner .header-inner_nav > ul > li > ul > li:hover > a {
    color: rgb(var(--primary-color));
    border-color: rgb(var(--primary-color));
    background-color: var(--background-body);
}

.header .header-inner .header-inner_user__item {
    position: relative;
    padding: 15px 0;
}

.header .header-inner .header-inner_user__item > .user-item_dropdown {
    box-shadow: 0 0 20px rgb(68 38 14 / 25%);
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(15px);
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
    min-width: 200px;
}

.header .header-inner .header-inner_user__item > .user-item_dropdown > a {
    position: relative;
    display: block;
    border-left: 3px solid transparent;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 700;
    color: var(--dark-color);
}

.header .header-inner .header-inner_user__item:hover > .user-item_dropdown {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.header .header-inner .header-inner_user__item > .user-item_dropdown > a:hover {
    color: rgb(var(--primary-color));
    border-color: rgb(var(--primary-color));
    background-color: var(--background-body);
}

@media screen and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    .header .header-inner .header-inner_logo {
        position: relative;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .header-inner .header-inner_logo > a > img {
        height: 50px;
        width: auto;
    }

    .header .header-inner .header-inner_logo .btn-customize {
        height: 34px;
    }

    .header .header-inner .header-inner_logo .header-inner_hamburger {
        position: relative;
        right: 0;
    }

    .header .header-inner .header-inner_logo .header-inner_hamburger button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 4px;
        width: 36px;
        height: 36px;
        border: 0;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: transparent;
    }

    .header .header-inner .header-inner_logo .header-inner_hamburger button span {
        background-color: rgb(var(--primary-color));
        border-radius: 2px;
        content: '';
        display: block;
        width: 24px;
        height: 2px;
    }

    .header .header-inner .header-inner_logo .header-inner_hamburger button span:nth-child(1) {
        -webkit-animation: outTop .5s backwards;
        animation: outTop .5s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .header .header-inner .header-inner_logo .header-inner_hamburger button span:nth-child(2) {
        margin: 6px 0;
        -webkit-animation: outMiddle .5s backwards;
        animation: outMiddle .5s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .header .header-inner .header-inner_logo .header-inner_hamburger button span:nth-child(3) {
        -webkit-animation: outBottom .5s backwards;
        animation: outBottom .5s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .is-show_navigation .header .header-inner .header-inner_logo .header-inner_hamburger {
        position: relative;
        z-index: 240;
        right: calc(75% + 15px);
    }

    .is-show_navigation .header .header-inner .header-inner_logo .header-inner_hamburger button span {
        background-color: #fff;
    }

    .is-show_navigation .header .header-inner .header-inner_logo .header-inner_hamburger button span:nth-child(1) {
        -webkit-animation: inTop .5s forwards;
        animation: inTop .5s forwards;
    }

    .is-show_navigation .header .header-inner .header-inner_logo .header-inner_hamburger button span:nth-child(2) {
        -webkit-animation: inMiddle .5s forwards;
        animation: inMiddle .5s forwards;
    }

    .is-show_navigation .header .header-inner .header-inner_logo .header-inner_hamburger button span:nth-child(3) {
        -webkit-animation: inBottom .5s forwards;
        animation: inBottom .5s forwards;
    }

    .is-show_navigation .header .header-inner .header-inner_logo .header-inner_hamburger.no-animation > span {
        -webkit-animation: none;
        animation: none;
    }

    @-webkit-keyframes inMiddle {
        50% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(45deg);
        }
    }

    @keyframes inMiddle {
        50% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    @-webkit-keyframes outMiddle {
        50% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(45deg);
        }
    }

    @keyframes outMiddle {
        50% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    @-webkit-keyframes inTop {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(6px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(6px) rotate(135deg);
        }
    }

    @keyframes inTop {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(7px) rotate(0deg);
            transform: translateY(7px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(7px) rotate(135deg);
            transform: translateY(7px) rotate(135deg);
        }
    }

    @-webkit-keyframes outTop {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(7.25px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(7.25px) rotate(135deg);
        }
    }

    @keyframes outTop {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(7.25px) rotate(0deg);
            transform: translateY(7.25px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(7.25px) rotate(135deg);
            transform: translateY(7.25px) rotate(135deg);
        }
    }

    @-webkit-keyframes inBottom {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(-7px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-7px) rotate(135deg);
        }
    }

    @keyframes inBottom {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(-7px) rotate(0deg);
            transform: translateY(-7px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-7px) rotate(135deg);
            transform: translateY(-7px) rotate(135deg);
            opacity: 0;
        }
    }

    @-webkit-keyframes outBottom {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(-7px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-7px) rotate(135deg);
        }
    }

    @keyframes outBottom {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
        }
        50% {
            -webkit-transform: translateY(-7px) rotate(0deg);
            transform: translateY(-7px) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-7px) rotate(135deg);
            transform: translateY(-7px) rotate(135deg);
        }
    }

    .header .header-inner .mobile-no_relative {
        position: static;
    }

    .header .header-inner .header-inner_nav {
        position: absolute;
        right: -200%;
        top: 0;
        min-width: 280px;
        width: 75%;
        max-width: 450px;
        height: 100vh;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
        z-index: 240;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background: var(--white);
        display: block;
    }

    .header .header-inner .header-inner_nav > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        height: 100%;
        position: relative;
        width: 100%;
        padding-bottom: 10px;
    }

    .header .header-inner .header-inner_nav > ul > li.logo {
        border-bottom: 3px solid rgb(var(--primary-color));
        padding: 9.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .header .header-inner .header-inner_nav > ul > li.logo a {
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .header .header-inner .header-inner_nav > ul > li.logo a img {
        height: 50px;
        max-width: 100%;
    }

    .header .header-inner .header-inner_nav > ul > li {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .header .header-inner .header-inner_nav > ul > li > a {
        width: 100%;
        padding: 12px 20px;
        position: relative;
        display: flex;
    }

    .header .header-inner .header-inner_nav > ul > li > a > span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
        margin-left: auto;
    }

    .header .header-inner .header-inner_nav > ul > li > a[aria-expanded=true] i:before {
        content: "\f068";
    }

    .header .header-overlay {
        position: fixed;
        z-index: 239;
        background-color: rgba(0, 0, 0, .35);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
    }

    .header .header-inner .header-inner_nav > ul > li > ul {
        position: relative;
        top: unset !important;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 2;
        right: unset;
        width: 100%;
        box-shadow: none;
        border: 0;
        transform: translate(0) !important;
    }

    .header .header-inner .header-inner_nav > ul > li > ul > li > a {
        font-weight: 400;
        border-left: 0;
        padding: 7px 20px;
        font-size: 1em;
        color: var(--gray-color);
    }

    .header .header-inner .header-inner_nav > ul > li > ul > li > a > i {
        font-size: .9em;
        margin-right: 5px;
    }

    .is-show_navigation .header .header-overlay, .is-show_user .header .header-overlay {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .is-show_navigation .header .header-inner .header-inner_nav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        right: 0;
    }
}

.section-banner {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-banner .swiper-slide {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.section-banner .swiper-slide .section-banner_title {
    font-size: 2.8em;
    font-weight: 700;
    color: var(--white);
    padding: 20px 0 15px;
    opacity: 1;
    line-height: 1.1;
}

.section-banner .swiper-slide .section-banner_desc {
    font-size: 1.25em;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 0;
    line-height: 1.6;
}

.section-banner .swiper-slide .section-banner_button {
    margin-top: 30px;
}

.section-banner .swiper-slide .section-banner_button .btn {
    border-color: var(--white);
    background: var(--white);
    color: rgb(var(--primary-color));
    font-weight: 700;
    font-size: 1.15em;
    transition: var(--transition);
}

.section-banner .swiper-slide .section-banner_button .btn:hover {
    background-color: var(--background-body);
    box-shadow: 0 2px 15px #cbc9c9 !important;
}

.section-banner .swiper-slide .section-banner_image img {
    max-width: 100%;
    height: auto;
}

.section-banner .slide-button-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--primary-color);
    background-color: var(--white);
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    font-size: 3em;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    outline: none !important;
    border-radius: 4px;
}

.section-banner .slide-button-next {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--primary-color);
    background-color: var(--white);
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    font-size: 3em;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    outline: none !important;
    border-radius: 4px;
}

.section-banner .slide-button-next.swiper-button-disabled,
.section-banner .slide-button-prev.swiper-button-disabled {
    opacity: .4;
    cursor: not-allowed;
}

.section-banner .slide-button-next:not(.swiper-button-disabled):hover,
.section-banner .slide-button-prev:not(.swiper-button-disabled):hover {
    box-shadow: 0 2px 15px #cbc9c9 !important;
    color: rgb(var(--primary-color));
}

@media screen and (max-width: 991px) {
    .section-banner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section-banner .swiper-slide .section-banner_title {
        font-size: 1.8em;
        text-align: center;
        padding: 0 45px;
    }

    .section-banner .swiper-slide .section-banner_desc {
        font-size: 1.1em;
        text-align: center;
    }

    .section-banner .swiper-slide .section-banner_button {
        text-align: center;
    }

    .section-banner .slide-button-prev,
    .section-banner .slide-button-next {
        width: 35px;
        height: 35px;
        font-size: 1.8em;
    }
}

.section-gap {
    padding: 50px 0;
}

.section-heading {
    margin-bottom: 30px;
    text-align: center;
}

.section-heading .section-heading_title {
    font-size: 2.2em;
    color: rgb(var(--primary-color));
    font-weight: 700;
}

.section-heading .section-heading_title span {
    color: var(--dark-color);
    font-size: .8em;
}

.section-heading .section-heading_desc {
    margin-top: 10px;
    font-size: 1.15em;
    color: var(--dark-color);
}

.section-heading .section-heading_desc span {
    display: inline-block;
    position: relative;
}

.section-heading .section-heading_desc span + span {
    margin-left: 15px;
    padding-left: 15px;
}

.section-heading .section-heading_desc span + span:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--gray-color);
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
    opacity: .2;
}

@media screen and (max-width: 991px) {
    .section-heading .section-heading_title {
        font-size: 1.8em;
    }
}

.service-card .card-header .card-image_circle {
    width: 80px;
    height: 80px;
    background-color: rgb(var(--primary-color));
}

.service-card .card-header .card-image_circle > img {
    width: 40px;
    height: 40px;
    max-width: 100%;
    display: block;
}

.service-card .card-body {
    display: flex;
    flex-direction: column;
}

.service-card .card-body .card-title {
    font-size: 1.3em;
    line-height: 1.35;
    font-weight: 700;
    color: var(--dark-color);
    min-height: 50px;
}

.service-card .card-body .card-desc {
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 1.025em;
    color: var(--gray-color);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.service-card .card-body .card-link {
    margin-top: auto;
    font-size: 1.05em;
}

.service-card .card-body .card-desc p:last-child {
    margin-bottom: 0;
}

.service-card:hover {
    box-shadow: 0 0 44px rgba(63, 64, 68, 0.35) !important;
}

.service-card .card-header .card-image_circle:hover {
    background-color: rgba(var(--primary-color), .9);
}

.service-card .card-body .card-title:hover {
    color: rgb(var(--primary-color));
}

@media screen and (max-width: 574px) {
    .service-card {
        padding: 0 !important;
    }

    .service-card .card-body .card-title {
        min-height: auto;
    }

    .service-card .card-body .card-desc {
        margin-bottom: 10px;
    }
}

.article-main_inner {
    max-height: 300px;
    overflow-y: auto;
    padding: 0 1px;
}

.article-main_readmore {
    text-align: center;
    margin-top: 25px;
}

.article-main_readmore > a {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
    color: var(--dark-color);
}

.article-main_readmore > a:hover {
    color: rgb(var(--primary-color));
}

.article-main_inner::-webkit-scrollbar {
    display: none;
}

.article-item {
    flex-direction: row;
    padding: 8px;
    background: var(--white);
    border-radius: 8px;
    transition: var(--transition);
    border: 0;
    box-shadow: 0 0 14px rgb(144 151 179 / 19%) !important;
}

.article-item + .article-item {
    margin-top: 25px;
}

.article-item .card-header {
    flex-shrink: 0;
    padding: 0;
    position: relative;
    width: 150px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
}

.article-item .card-header > a > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.article-item .card-body {
    padding: 10px 15px;
    width: 100%;
}

.article-item .card-body .card-meta {
    font-size: .95em;
    color: var(--gray-color);
    margin-bottom: 7px;
}

.article-item .card-body .card-title {
    margin-bottom: 0;
}

.article-item .card-body .card-title > a {
    color: var(--dark);
    font-size: 1.15em;
    line-height: 1.2;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.article-item .card-header > a:hover > img {
    opacity: .8;
    transform: scale(1.05);
}

.article-item .card-body .card-title > a:hover {
    color: rgb(var(--primary-color));
}

@media screen and (max-width: 991px) {
    .article-main_inner {
        max-height: 415px;
        max-height: 415px;
    }
}

@media screen and (max-width: 425px) {
    .article-item .card-header {
        width: 120px;
        height: 80px;
    }

    .article-item .card-body .card-title > a {
        -webkit-line-clamp: 2;
    }
}

.section-calculator .calculator-inner .calculator-inner_warning {
    color: rgb(var(--primary-color));
    font-size: 1.05em;
}

.section-calculator .calculator-main {
    margin-top: 50px;
}

.section-calculator .calculator-main .calculator-card .card-header {
    padding: 0;
    border-bottom: 0;
    background-color: rgb(var(--primary-color));
}

.section-calculator .calculator-main .calculator-card .card-header .card-title {
    margin-bottom: 0;
    padding: 15px;
    color: var(--white);
    font-size: 1.35em;
    font-weight: 700;
    text-transform: uppercase;
}

.section-calculator .calculator-main .calculator-card .card-body .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-calculator .calculator-main .calculator-card .card-body .card-content .card-flag {
    width: 80px;
    flex-shrink: 0;
    margin-right: 30px;
}

.section-calculator .calculator-main .calculator-card .card-body .card-content .card-flag .card-flag_image {
    position: relative;
    height: 70px;
    width: 90px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
}

.section-calculator .calculator-main .calculator-card .card-body .card-content .card-flag .card-flag_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    object-fit: contain;
}

.section-calculator .calculator-main .calculator-card .card-body .card-content .card-flag .card-flag_title {
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
    color: var(--dark-color);
}

.section-calculator .calculator-main .calculator-card .card-body .card-content .card-value {
    font-size: 2.5em;
    font-weight: 700;
    color: rgb(var(--primary-color));
}

.section-calculator .calculator-main .calculator-card .card-body .card-select {
    position: relative;
}

.section-calculator .calculator-main .calculator-card .card-body .card-select:before {
    position: absolute;
    right: 15px;
    font-size: 2.4em;
    color: var(--gray-color);
    font-family: "Font Awesome 5 Pro";
    content: "\f107";
    top: 10px;
    font-weight: 300;
}

.section-calculator .calculator-main .calculator-card .card-body .card-select select {
    height: 55px;
    width: 100%;
    border: 0;
    padding: 0 15px;
    appearance: none;
    font-size: 1.4em;
    font-weight: 700;
    color: var(--dark-color);
    position: relative;
    z-index: 2;
    background: transparent;
}

.section-calculator .calculator-main .calculator-card .card-body .card-list p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    color: var(--dark-color);
    font-weight: 700;
}

.section-calculator .calculator-main .calculator-card .card-body .card-list p .color-primary {
    font-size: 1.4em;
}

.section-calculator .calculator-main .calculator-card .card-body .card-list p:last-child {
    margin-bottom: 0;
}

.section-calculator .calculator-button {
    text-align: center;
    margin-top: 50px;
}

.section-calculator .calculator-button .btn-customize {
    font-size: 1.4em;
    height: 48px;
    padding: 0 30px;
    border-radius: 40px;
}

.calculator-icon {
    opacity: .8;
    font-size: 6em;
    color: rgb(var(--primary-color));
    text-align: center;
    padding: 44px 0;
}

@media screen and (max-width: 991px) {
    .section-calculator .calculator-main .calculator-card .card-header .card-title {
        font-size: 1.15em;
        padding: 10px 15px;
    }

    .section-calculator .calculator-main .calculator-card .card-body .card-content .card-flag .card-flag_image {
        width: 75px;
        height: 50px;
    }

    .section-calculator .calculator-main .calculator-card .card-body .card-content .card-flag .card-flag_title {
        font-size: 1.2em;
    }

    .section-calculator .calculator-main .calculator-card .card-body .card-content .card-value {
        font-size: 1.6em;
    }

    .calculator-icon {
        font-size: 4em;
    }

    .section-calculator .calculator-main .calculator-card .card-body .card-select select {
        font-size: 1.2em;
    }

    .section-calculator .calculator-main .calculator-card .card-body .card-select:before {
        font-size: 1.8em;
    }

    .section-calculator .calculator-main .calculator-card .card-body .card-list p {
        font-size: 1.1em;
    }

    .section-calculator .calculator-main .calculator-card .card-body .card-list p .color-primary {
        font-size: 1.3em;
    }

    .section-calculator .calculator-button .btn-customize {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 767px) {
    .calculator-icon {
        padding: 15px;
    }

    .calculator-icon i {
        transform: rotate(90deg);
    }
}

.partner-image {
    transition: all 1.1s ease .2s;
}

.partner-image:hover {
    transform: perspective(1200px) rotateY(1turn) translateZ(0);
}

.contact-main {
    padding: 10px;
    margin-top: 32px;
    border-radius: 8px;
}

.contact-main .contact-main_title {
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px 10px 10px 5px;
    text-transform: uppercase;
}

.contact-main .contact-main_inner {
    display: flex;
    flex-wrap: wrap;
}

.contact-main .contact-main_inner .contact-item {
    width: calc(50% - 10px);
    margin: 15px 5px;
}

.contact-main .contact-main_inner .contact-item > a {
    color: var(--dark-color);
    font-size: 1.05em;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.contact-main .contact-main_inner .contact-item > a > i {
    font-size: 1.5em;
    color: rgb(var(--primary-color));
    margin-right: 8px;
}

.contact-main .contact-main_inner .contact-item > a > span {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(var(--primary-color));
    color: var(--white);
    font-size: 1em;
    transition: var(--transition);
}

.contact-main .contact-main_inner .contact-item > a:hover {
    color: rgb(var(--primary-color));
}

.contact-main .contact-main_inner .contact-item > a:hover > span {
    background-color: rgba(var(--primary-color), .8);
}

.contact-main + .contact-main {
    margin-top: 30px;
}

.contact-main .contact-main_inner.contact-main_grid__3 {
    justify-content: space-between;
}

.contact-main .contact-main_inner.contact-main_grid__3 .contact-item {
    width: auto;
}

@media screen and (max-width: 991px) {
    .contact-main .contact-main_title {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 574px) {
    .contact-main .contact-main_inner .contact-item {
        width: calc(100% - 10px);
    }
}

.footer {
    background: rgb(var(--primary-color));
    padding: 30px 0;
}

.footer .footer-logo {
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ffffff42;
}

.footer .footer-logo img {
    max-width: 100%;
    width: auto;
    height: 70px;
}

.footer .footer-title {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 15px;
}

.footer .footer-item {
    padding-right: 15px;
}

.footer .footer-item .footer-contact .footer-contact_list {
    color: #cccaca;
    font-weight: 400;
    font-size: 1em;
}

.footer .footer-item .footer-contact .footer-contact_list p {
    margin-bottom: 8px;
}

.footer .footer-item .footer-list p {
    margin-bottom: 10px;
}

.footer .footer-item .footer-list p a {
    color: #cccaca;
    font-weight: 400;
    font-size: 1em;
}

.footer .footer-item .footer-list p a:before {
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #cccaca;
    margin-right: 8px;
    position: relative;
    top: -2px;
}

.footer .footer-item .footer-list p a:hover {
    color: var(--white);
    text-decoration: underline !important;
}

.footer .footer-item .footer-list p a:hover:before {
    background: var(--white);
}