html {
    scroll-behavior: smooth;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input,
select,
textarea {
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    outline: none !important;
}

a,
button {
    outline: none !important;
    box-shadow: none !important;
}

.row-g1 {
    margin-top: calc(-1 * 10px);
}

.row-g1 > [class*=col] {
    margin-top: 10px;
}

.row-g2 {
    margin-top: calc(-1 * 20px);
}

.row-g2 > [class*=col] {
    margin-top: 20px;
}

.row-g3 {
    margin-top: calc(-1 * 30px);
}

.row-g3 > [class*=col] {
    margin-top: 30px;
}

.row-g4 {
    margin-top: calc(-1 * 40px);
}

.row-g4 > [class*=col] {
    margin-top: 40px;
}

.row-g5 {
    margin-top: calc(-1 * 50px);
}

.row-g5 > [class*=col] {
    margin-top: 50px;
}

.row-g6 {
    margin-top: calc(-1 * 60px);
}

.row-g6 > [class*=col] {
    margin-top: 60px;
}

.shadow-card {
    box-shadow: 0 0 14px rgb(144 151 179 / 19%) !important;
}

.transition {
    transition: var(--transition);
}

.btn-customize {
    background-color: rgb(var(--primary-color));
    color: var(--white);
    font-size: 1em;
    letter-spacing: 0.5px;
    font-weight: 700;
    border-radius: 20px;
    height: 38px;
    padding: 0 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.btn-customize > i {
    font-size: .9em;
}

.btn-customize:hover {
    color: var(--white);
    background-color: rgba(var(--primary-color), .85);
    box-shadow: 0 5px 10px -4px rgb(var(--primary-color)) !important;
}

body {
    background-color: var(--background-body);
    color: var(--dark-color);
    font: 400 14px/1.2 'Roboto', sans-serif;
}

.header {
    position: relative;
    background-color: var(--white);
    border-bottom: 3px solid rgba(var(--primary-color));
    z-index: 3;
}

.header .header-inner .header-inner_nav > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .header-inner .header-inner_nav > ul > li {
    position: relative;
    padding: 5px 0;
}

.header .header-inner .header-inner_nav > ul > li > a {
    font-size: 1em;
    font-weight: 700;
    color: var(--dark-color);
    display: inline-block;
    padding: 20px 10px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
}

.header .header-inner .header-inner_nav > ul > li > a > i {
    margin-left: 2px;
    font-size: 1.1em;
    transition: .3s transform ease-in-out;
}

.header .header-inner .header-inner_nav > ul > li > ul {
    box-shadow: 0 0 20px rgb(68 38 14 / 25%);
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(15px);
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
    min-width: 200px;
}

.header .header-inner .header-inner_nav > ul > li > ul > li > a {
    position: relative;
    display: block;
    border-left: 3px solid transparent;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 700;
    color: var(--dark-color);
}

.header .header-inner .header-inner_nav > ul > li:hover > a {
    color: rgb(var(--primary-color));
}

.header .header-inner .header-inner_nav > ul > li:hover > a > i {
    transform: rotate(180deg)
}

.header .header-inner .header-inner_nav > ul > li:hover > ul {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.header .header-inner .header-inner_nav > ul > li > ul > li:hover > a {
    color: rgb(var(--primary-color));
    border-color: rgb(var(--primary-color));
    background-color: var(--background-body);
}

.header .header-inner .header-inner_user__item {
    position: relative;
    padding: 15px 0;
}

.header .header-inner .header-inner_user__item > .user-item_dropdown {
    box-shadow: 0 0 20px rgb(68 38 14 / 25%);
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(15px);
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
    min-width: 200px;
}

.header .header-inner .header-inner_user__item > .user-item_dropdown > a {
    position: relative;
    display: block;
    border-left: 3px solid transparent;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 700;
    color: var(--dark-color);
}

.header .header-inner .header-inner_user__item:hover > .user-item_dropdown {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.header .header-inner .header-inner_user__item > .user-item_dropdown > a:hover {
    color: rgb(var(--primary-color));
    border-color: rgb(var(--primary-color));
    background-color: var(--background-body);
}

.section-banner {
    position: relative;
    overflow: hidden;
}

.section-banner .section-banner_wrapper {
    position: relative;
    overflow: hidden;
}

.section-banner .swiper-buttons {
    position: absolute;
    left: 0;
    bottom: 15px;
    z-index: 3;
}

.section-banner .banner-button_group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: .75rem;
    bottom: 30px;
    z-index: 3;
    position: absolute;
}

@media (min-width: 575px) {
    .section-banner .banner-button_group {
        left: calc((100% - 540px) / 2);
    }
}

@media (min-width: 768px) {
    .section-banner .banner-button_group {
        left: calc((100% - 720px) / 2);
    }
}

@media (min-width: 992px) {
    .section-banner .banner-button_group {
        left: calc((100% - 960px) / 2);
    }
}

@media (min-width: 1200px) {
    .section-banner .banner-button_group {
        left: calc((100% - 1140px) / 2);
    }
}

@media (min-width: 1400px) {
    .section-banner .banner-button_group {
        left: calc((100% - 1320px) / 2);
    }
}

.section-banner .banner-button_group [class*=button] {
    border-radius: 4px;
    background-color: var(--white);
    color: rgb(var(--primary-color));
    font-weight: 400;
    font-size: 1em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 15px 5px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.section-banner .banner-button_group [class*=button]:hover,
.section-banner .banner-button_group [class*=button]:active {
    color: var(--white);
    background-color: rgb(var(--primary-color));
}

.section-banner .banner-button_group [class*=button].swiper-button-disabled {
    background-color: var(--white);
    color: rgb(var(--primary-color));
    opacity: .8;
    cursor: not-allowed;
}

.section-banner .banner-button_group .button-prev i {
    margin-right: 8px;
    font-size: 1.15em;
    position: relative;
    top: -2px;
}

.section-banner .banner-button_group .button-next {
    margin-left: 15px;
}

.section-banner .banner-button_group .button-next i {
    margin-left: 8px;
    font-size: 1.15em;
    position: relative;
    top: -2px;
}

.section-gap {
    padding: 50px 0;
}

.section-heading {
    margin-bottom: 30px;
    text-align: center;
}

.section-heading .section-heading_title {
    font-size: 2.2em;
    color: rgb(var(--primary-color));
    font-weight: 700;
}

.section-heading .section-heading_title span {
    color: var(--dark-color);
    font-size: .8em;
}

.section-heading .section-heading_desc {
    margin-top: 10px;
    font-size: 1.15em;
    color: var(--dark-color);
}

.section-heading .section-heading_desc span {
    display: inline-block;
    position: relative;
}

.section-heading .section-heading_desc span + span {
    margin-left: 15px;
    padding-left: 15px;
}

.section-heading .section-heading_desc span + span:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--gray-color);
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
    opacity: .2;
}

.service-card .card-header .card-image_circle {
    width: 80px;
    height: 80px;
    background-color: rgb(var(--primary-color));
}

.service-card .card-header .card-image_circle > img {
    width: 40px;
    height: 40px;
    max-width: 100%;
    display: block;
}

.service-card .card-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.service-card .card-body .card-title {
    font-size: 1.4em;
    line-height: 1.35;
    font-weight: 700;
    color: var(--dark-color);
}

.service-card .card-body .card-desc {
    margin-top: auto;
    line-height: 1.5;
    font-size: 1.1em;
    color: var(--gray-color);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.service-card .card-body .card-desc p:last-child {
    margin-bottom: 0;
}

.service-card:hover {
    box-shadow: 0 0 44px rgba(63, 64, 68, 0.35) !important;
}

.service-card:hover .card-header .card-image_circle {
    background-color: rgba(var(--primary-color), .9);
}

.service-card:hover .card-body .card-title {
    color: rgb(var(--primary-color));
}

.article-main_inner {
    max-height: 290px;
    overflow-y: auto;
    padding: 0 1px;
}

.article-main_readmore {
    text-align: center;
    margin-top: 25px;
}

.article-main_readmore > a {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
    color: var(--dark-color);
}

.article-main_readmore > a:hover {
    color: rgb(var(--primary-color));
}

.article-main_inner::-webkit-scrollbar {
    display: none;
}

.article-item {
    flex-direction: row;
    padding: 8px;
    background: var(--white);
    border-radius: 8px;
    transition: var(--transition);
    border: 0;
    box-shadow: 0 0 14px rgb(144 151 179 / 19%) !important;
}

.article-item + .article-item {
    margin-top: 25px;
}

.article-item .card-header {
    flex-shrink: 0;
    padding: 0;
    position: relative;
    width: 150px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
}

.article-item .card-header > a > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.article-item .card-body {
    padding: 10px 15px;
    width: 100%;
}

.article-item .card-body .card-meta {
    font-size: .95em;
    color: var(--gray-color);
    margin-bottom: 7px;
}

.article-item .card-body .card-title {
    margin-bottom: 0;
}

.article-item .card-body .card-title > a {
    color: var(--dark);
    font-size: 1.15em;
    line-height: 1.2;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.article-item .card-header > a:hover > img {
    opacity: .8;
    transform: scale(1.05);
}

.article-item .card-body .card-title > a:hover {
    color: rgb(var(--primary-color));
}

/*.article-item + .article-item {*/
/*    padding-top: 15px;*/
/*    margin-top: 15px;*/
/*    border-top: 2px dashed rgba(var(--primary-color), .05) !important;*/
/*}*/

.contact-main {
    padding: 10px;
    margin-top: 37px;
    border-radius: 8px;
}

.contact-main .contact-main_title {
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px 10px 10px 5px;
    text-transform: uppercase;
}

.contact-main .contact-main_inner {
    display: flex;
    flex-wrap: wrap;
}

.contact-main .contact-main_inner .contact-item {
    width: calc(50% - 10px);
    margin: 15px 5px;
}

.contact-main .contact-main_inner .contact-item > a {
    color: var(--dark-color);
    font-size: 1.05em;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.contact-main .contact-main_inner .contact-item > a > i {
    font-size: 1.5em;
    color: rgb(var(--primary-color));
    margin-right: 8px;
}

.contact-main .contact-main_inner .contact-item > a > span {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(var(--primary-color));
    color: var(--white);
    font-size: 1em;
    transition: var(--transition);
}

.contact-main .contact-main_inner .contact-item > a:hover {
    color: rgb(var(--primary-color));
}

.contact-main .contact-main_inner .contact-item > a:hover > span {
    background-color: rgba(var(--primary-color), .8);
}

.contact-main + .contact-main {
    margin-top: 30px;
}

.contact-main .contact-main_inner.contact-main_grid__3 {
    justify-content: space-between;
}

.contact-main .contact-main_inner.contact-main_grid__3 .contact-item {
    width: auto;
}

.footer {
    background: rgb(var(--primary-color));
    padding: 30px 0;
}

.footer .footer-logo {
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ffffff42;
}

.footer .footer-logo img {
    max-width: 100%;
    width: auto;
    height: 70px;
}

.footer .footer-title {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 15px;
}

.footer .footer-item {
    padding-right: 15px;
}

.footer .footer-item .footer-contact .footer-contact_list {
    color: #cccaca;
    font-weight: 400;
    font-size: 1em;
}

.footer .footer-item .footer-contact .footer-contact_list p {
    margin-bottom: 8px;
}

.footer .footer-item .footer-list p {
    margin-bottom: 10px;
}

.footer .footer-item .footer-list p a {
    color: #cccaca;
    font-weight: 400;
    font-size: 1em;
}

.footer .footer-item .footer-list p a:before {
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #cccaca;
    margin-right: 8px;
    position: relative;
    top: -2px;
}

.footer .footer-item .footer-list p a:hover {
    color: var(--white);
    text-decoration: underline !important;
}

.footer .footer-item .footer-list p a:hover:before {
    background: var(--white);
}